* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #333333;
}

.container {
  width: 100%;
  max-width: 840px;
  padding: 0px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header */
.main-bg {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
}
.main-bg-backdrop {
  padding-bottom: 99px;
  backdrop-filter: brightness(40%);
}
.header {
  padding: 60px 0px;
}
.header-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  max-width: 840px;
}
.logo {
  width: 176px;
  height: 40px;
}
.header-list {
  display: flex;
  list-style: none;
  column-gap: 24px;
}
.header-list-item-link {
  padding: 13px 0px;
  font-size: 11px;
  letter-spacing: 1.3px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/* Posts */
.posts-container {
  max-width: 840px;
}
.posts {
  list-style: none;
}
.post-top-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 20px;
  height: 330px;
  background-image: url("../images/products-bg-1.jpg");
  padding: 0px 60px 40px;
}

.post-top-content-1 {
  background-image: url("../images/products-bg-1.jpg");
}
.post-top-content-2 {
  background-image: url("../images/products-bg-2.jpg");
}
.post-top-content-3 {
  background-image: url("../images/products-bg-3.jpg");
}

.user-profile {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.user-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.user-name {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 2px;
}
.post-date {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}

.post-title {
  width: 512px;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
}

.post-sub-content {
  background-color: #ffffff;
  padding: 35px 60px;
}
.post-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.post-link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  color: #8d4fdb;
}

.read-more-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 55px 20px 60px 20px;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.read-more-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 21px;
}
.read-more-button {
  font-weight: 400;
  font-size: 10px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 25px 7px;
  color: #ffffff;
  border-radius: 3px;

  text-decoration: none;
  width: 182px;
  height: 45px;
  background-color: #8d4fdb;
}

/* Featured section */

.featured-section {
  padding: 90px 0;
}
.featured-section-container {
  max-width: 980px;
}
.featured-section-details {
  margin-bottom: 50px;
  text-align: center;
}
.featured-section-title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.featured-section-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 33px;
  color: #a9afb3;
}
.featured-list {
  display: flex;
  list-style: none;
  column-gap: 20px;
  margin-bottom: 30px;
}
.featured-list-item {
  width: 100%;
}
.featured-top-content {
  display: flex;
  flex-direction: row;
  align-items: end;
  background-image: url("../images/card-1.jpg");
  background-size: cover;
  padding: 0 0 24px 24px;
  height: 190px;
  margin-bottom: 23px;
}
.featured-top-content-1 {
  background-image: url("../images/card-1.jpg");
}
.featured-top-content-2 {
  background-image: url("../images/card-2.jpg");
}
.featured-top-content-3 {
  background-image: url("../images/card-3.jpg");
}
.featured-user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.featured-user-pic {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}
.featured-user-details {
  color: #ffffff;
}
.featured-user-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.featured-date {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.featured-title {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  margin-bottom: 30px;
}
.featured-info {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.info-link {
  text-decoration: none;
  color: #8d4fdb;
  padding-left: 8px;
}

/* Footer */

.footer {
  padding: 55px 0px 45px;
  background: #000000;
}
.footer-container {
  max-width: 980px;
}
.copyright {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #8B8B8B;
}
.main-copyright {
  margin-bottom: 10px;

}
.copyright-link {
  text-decoration: none;
  color: #8D4FDB;
}
